<head>
  <link rel="stylesheet" href="/partials/header.css" />
</head>

<header>
  <nav>
    <h1>Chat with ur friends</h1>
    <ul>
      <% if (user) { %>
      <li>Welcome <%= user.email %></li>
      <li><a href="/logout">Log Out</a></li>
      <% }else {%>
      <li><a href="/login">Log In</a></li>
      <li><a href="/register">Register</a></li>
      <% } %>
    </ul>
  </nav>
</header>
