<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <h1>Chat with ur friends</h1>
        <ul>
          <% if (user) { %>
          <li>Welcome <%= user.username %></li>
          <li><a href="/logout">Log Out</a></li>
          <% }else {%>
          <li><a href="/login">Log In</a></li>
          <li><a href="/register">Register</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <div class="container">
      <button class="btn" onclick="window.location.href='/public'">
        public Chat
      </button>
      <button class="btn" onclick="window.location.href='/privet'">
        private Chat
      </button>
      <button class="btn" onclick="window.location.href='/add-friend'">
        Search friends
      </button>
      <button class="btn" onclick="window.location.href='/accept-friend'">
        accept friend requests
      </button>
    </div>
  </body>
</html>
